/* grid.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
  /*   min-width: 768px; */
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* 테블릿 ~ PC */
  @media (min-width: 768px){
    .row{
      width: 100%;
      position: relative;
      /* overflow: hidden; */
    }
    /* row 클리어 */
    .row:after{
      content: '';
      display: block;
      clear: both;
    }
    
    /* column grid 
      12grid: 컬럼 12분할
    */
    .col-12{
      width: 100%;
    }
    .col-8{
      width: 66.64%;
      float: left;
    }
    .col-6{
      width: 50%;
      float: left;
    }
    .col-4{
      width: 33.33%;
      float: left;
    }
    .col-3{
      width: 25%;
      float: left;
    }
    .col-2{
      width:20%;
      float: left;
    }
    .col-1{
      width: 8.33%;
      float: left;
    }
  }