/*mobile.css*/

*{
    margin: 0 auto;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    height: 100%;
  }
ul{
    list-style: none;
  }
a{
    text-decoration: none;
    color: #666;
  }
body{
    font-family: 'Noto Sans KR', sans-serif;
     color: #666;
     font-size: 100%;
     text-align: center;  
     height: 100%; 
     width: 100%;
   }

/*header*/     
header{
    display: flex;
    width:100%; height: 650px;
    background: #ccc;
    color: #fff;
    background: url('../images/main.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
     text-align: center;
    margin: 0 auto;
  }
#index header h1{
    font-size: 4em; 
  }
.line{
    display: inline-block;
    width: 4em;
    height: 1px;
    border-bottom: 2px solid #666;
    vertical-align: middle;
    margin: 2em;
    border-color: #fff;
  }
#index header p{
    font-size: 23px;
  }
  

  
  /* nav */
  #main-menu{
    left: 0; right: 0; 
    background: #eebd1b;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 99;
    position: relative;
    left: 0; bottom: 0;
    width: 100%; height: 50px;
     line-height: 50px;
    text-align: center;
  }
  #nav.fixed {
    position: fixed;
    left: 0; top: 0;
  }
 #main-menu.sticky{
  position: fixed;
  left: 0;right: 0;
  top: 0;
 }
 
  #main-menu .container{
   display: block;
  }
  #main-menu ul li a{
    display: block;
    font-weight: bold;
    color: #1f1708;
    transition: 1s;
  }
  #main-menu ul li a:hover{
    color: #fdfdfd;
    text-shadow: 1px 1px 2px rgba(31, 30, 30, 0.2);
  }
  @media (max-width: 767px){
    #main-menu{
      position: relative;
      padding: 5px;
    }
    #main-menu .container{
      display: block !important;
    }
    #main-menu ul li{
      display: inline-block;
      margin-left: 1em;
      margin-right: 1em;
    }
  }  
  
/*section*/ 
  
section{
    padding: 100px 0;
  }
section h2{
    font-size: 36px;
  }
/*section id*/

#about{
  background-image: url("../images/lemon.jpg");
  color: #000;
}
 #about .line{
    border-color: #000;
 } 
/*section portfolio*/

#portfolio{
    background: #fece8c;
    width: 100%;
    height: 2700px;
    margin: 0 auto;
  
  }
#portfolio ul li{
    /* border: 1px solid red; */
    margin-top:20px;
    margin-bottom:50px;
  }
#portfolio .container p{
    font-size: 20px;
  }
#portfolio h2{
      color: #fff;
  }

#portfolio .line{
      border-color: #fff;
  }
#worklist{
  width:370px;
  margin: 0 auto;
}
#worklist li{
        width: 370px; height: 370px;
       
        margin-bottom:20px;   
        float: left;   
        box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    }
#worklist li:nth-child(3n){
        margin-right: 0;
    }
#worklist>li>a>.info{
        position: relative;
        width: 100%;height: 100%;
        left: ; top: -387px;
        background: #eebd1b;
        display: none;
        opacity:0.9;
    }
#worklist>li:hover>a>.info{
        display: block;
    }
.info h4{
        padding-top: 50px;
        font-size: 30px;
        color: #000;
    }
  
.info p{
        padding-top: 30px;
        text-align: center;
        padding: 50px;
        color: #000;
    }
#worklist >li img{
        transition: 0.5s;
    }
#worklist >li:hover img{
        transform: scale(1.02);
    }

#portfolio .button .container a:hover{
    background: rgba(0,0,0,0.6);
    transition: 0.5s;
    
  }
.click{
    border: 1px solid #000;
    height: 30px;
    width: 100px;
    margin-left: 135px;
    position: relative;
    color: #000;
  }
 /*footer*/
footer{
    background: #bbb49f;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    margin: 0 auto;
  }
footer .line{
    border-color: #fff;
}
 footer .container p{
   font-size: 30px;
   text-align: center;
 }