/* work-pc.css */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }

a{ 
  text-decoration: none;
  color: #000;
}
ul{ 
    list-style-type: none;
  }
body{
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    
}
p { 
    margin-bottom: 1em;
  }

/* header 및 gnb */

 #main_header {
    background: #eebd1b;
    width: 768px; height: 68px;
    margin: 0 auto;
    position: relative;
  }
  #main_header > .logo {
    width: 768px; height: 68px;
    background: #eebd1b;
    padding-left: 30px;
    float: left;
    position: fixed;
  }
  #main_header > .logo a {
    color: #fff;
    line-height: 68px;
    font-size: 24px;
    font-weight: 800;
    position: fixed;
  }
  /* 작품소개 */
#works {
    width: 768px;
    margin: 0 auto;
    overflow: hidden; 
   height: 1200px;
    font-family: 'HY신명조',sans-serif;
  }
 #works .section_header{
    background: #ccc;
    background-image: url('../images/lemon.jpg');
    height: 200px;
    text-align: left;
    width:768px;
    margin: 0; 
    line-height: 200px;
    color: #fff;
    text-shadow: 2px 2px 2px #333;
  }
  #works .section_header > h2{
      padding-left: 50px;
  }
  
 
#works article {
    padding-top: 100px;
    padding-bottom: 100px;
  }
#works article h2 {
  margin-bottom: 1em;
  font-size: 30px;
}
article{
    width: 370px;
}
  article img{
    width: 370px; height: 370px;
    background-image: url('../images/art6.jpg');
    background-repeat: no-repeat;
    border: 2px solid #fece8c;
    float: left;
    margin-bottom: 20px;
  }

  .sec{
    width: 370px;
    height: 370px;
    background: #fbf9e0;
    border: 2px solid #fece8c;
    float: right;
   margin-left: 20px;
    
  }
  .sec p{
    padding-top: 80px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 22px;
   
  }
  .sec a{
    margin-left:50px ;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background: #fece8c;
    color: #000;
    font-family: '나눔바른펜',serif;
  }
  .sec a:hover{
    color: white;
  }


/*footer*/

  #main_footer{
    width: 370px;
    position: relative;
    background: #eebd1b;
    height: 130px;
    color: #fbf9e0;
    
  }

.foot{
  width: 370px;
  height: 130px;
  margin-bottom: 20px;
}

.foot .left{
 display: none;
}
.foot .right{
  width: 370px;
  float: left;
  padding-top: 25px;
  padding-left: 15px;
}